<div id="sideMenu">
  <dl>
    <dt><%= link_to "Pet Health", health_path, :title => "Pet Health" %></dt>
    <dd><%= link_to "Puppy &amp; Kitten Care", puppy_kitten_path, :title => "Puppy &amp; Kitten Care" %></dd>
    <dd><%= link_to "Pet Vaccinations", vaccination_path, :title => "Pet Vaccinations" %></dd>
    <dd><%= link_to "Senior Pet Care", senior_path, :title => "Senior Pet Care" %></dd>
    <dd><%= link_to "Pet Care Articles", articles_path, :title => "Pet Care Articles" %></dd>
    <dd><%= link_to "Pet Care Videos", videos_path, :title => "Pet Care Videos" %></dd>
  </dl>
</div>
