<div id="sideMenu">
  <dl>
    <dt><%= link_to "Veterinary Services", service_path, :title => "Veterinary Services" %></dt>
    <dd><%= link_to "Comprehensive Examinations", examination_path, :title => "Comprehensive Examinations" %></dd>
    <dd><%= link_to "Veterinary Surgery", surgery_path, :title => "Veterinary Surgery" %></dd>
    <dd><%= link_to "Internal Medicine", internal_medicine_path, :title => "Internal Medicine" %></dd>
    <dd><%= link_to "Pet Dental Care", dental_path, :title => "Pet Dental Care" %></dd>
    <dd><%= link_to "Pain Management", pain_management_path, :title => "Pain Management" %></dd>
    <dd><%= link_to "Veterinary Diagnotics", diagnostics_path, :title => "Veterinary Diagnostics" %></dd>
  </dl>
</div>
