<% content_for :sidemenu do %>
  <%= render "news_sidemenu" %>
<% end %>
<div id="copy">
  <h1>News</h1>
  
  <dl>
    <dt>
      <strong>
        <%= link_to "Citrus Veterinary Clinic Online Pharmacy", 
        "http://www.ourpetsrx.com/citrusvetclinic", 
        :title => "Citrus Online Pharmacy",
        :target => "Online Pharmacy" %> is now OPEN!
      </strong>
    </dt>
    <dd>
      Now you can conveniently order medicine and for you pets, obtain doctor's authorization and 
      have your ordered delivered at the comfort of your home.  Visit our online store to see many 
      selections at the very affordable prices!
    </dd>
    <p/>
    
    <dt><strong><%= link_to "2013 Citrus Veterinary Clinic Halloween Costume Contest", "https://www.facebook.com/media/set/?set=a.676599515683478.1073741830.201780673165367&type=1", :alt => "2013 Citrus Vet Clinic Halloween Costume Contest", :target => "Citrus Vet Clinic Facebook" %></strong></dt>
    <dd>
      Congratulations to the winners and all participants, for showing the "true color" of your loved ones!
      <% fbimg = image_tag("https://scontent-b-sjc.xx.fbcdn.net/hphotos-ash3/p843x403/603119_697485530261543_1744629906_n.jpg") %>
      <%= link_to fbimg, "https://www.facebook.com/photo.php?fbid=697485530261543&set=a.676599515683478.1073741830.201780673165367&type=1&theater", :alt => "2013 Citrus Vet Clinic Halloween Costume Contest", :target => "Citrus Vet Clinic Facebook" %>
    </dd>
    <br/>
    
    <dt><strong><%= link_to "2012 Citrus Veterinary Clinic Halloween Costume Contest", "https://www.facebook.com/media/set/?set=a.499528933390538.120607.201780673165367&type=3", :alt => "2012 Citrus Vet Clinic Halloween Costume Contest", :target => "Citrus Vet Clinic Facebook" %></strong></dt>
    <dd>
      Congratulations to the winners:
      <p>
        1st place goes to <%= link_to "Kirin the hula girl!", "http://www.facebook.com/photo.php?fbid=508730522470379&set=a.499528933390538.120607.201780673165367&type=1", :target => "Citrus Vet Clinic Facebook" %><br/>
        2nd place goes to <%= link_to "Harley the sheep!", "http://www.facebook.com/photo.php?fbid=499967060013392&set=a.499528933390538.120607.201780673165367&type=1&permPage=1", :target => "Citrus Vet Clinic Facebook" %><br/>
        and last but not least,<br/>
        3rd place goes to <%= link_to "Doodle the chicken!", "http://www.facebook.com/photo.php?fbid=501170999892998&set=a.499528933390538.120607.201780673165367&type=1&permPage=1", :target => "Citrus Vet Clinic Facebook" %><br/>
        <% fbimg = image_tag("http://sphotos-b.xx.fbcdn.net/hphotos-ash4/c0.0.843.403/p843x403/374014_511884388821659_1785493805_n.jpg") %>
        <%= link_to fbimg, "https://www.facebook.com/photo.php?fbid=511884388821659&set=a.499528933390538.120607.201780673165367&type=1&theater", :alt => "Citrus Vet Clinic Facebook", :target => "Citrus Vet Clinic Facebook" %>
    </dd>    
    
    <dt><strong>Saturday Jan 21, 2012 - Chinese New Year Festivial at Walnut Creekside Park</strong></dt>
    <dd>
      We hosted a booth at the 
      <%= link_to "Chinese New Year Festival", "http://www.singtaola.com/st/share/images/CFMLANTER.jpg", :alt => "Chinese New Year Festival" %>
      organized by Sing Tao Daily.
      There were K-9 Shows, favorite pets contests, raffles, prizes and a whole bunch of fun activities.
      Citrus Veterinary Clinic is proud to sponsor the pet contest and offer pet care advices for owners.
      <div>
      <%= image_tag("creekside.png", :alt => "Walnut Creekside Park") %>
      <br/><span id="address">Address: 780 Creekside Drive, Walnut CA 91780</span>
      </div>
    </dd>
  </dl>
</div>