<% content_for :sidemenu do %>
  <%= render "payment_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Pet Insurance</h1>
  <p>
    Many pet owners are now purchasing pet insurance to help them afford 
    health care for their pet family members. The following is a list of 
    pet insurance companies you might like to explore:
  </p>
  <ul>
    <li><%= link_to "Veterinary Pet Insurance (VPI)", "#", :alt => "Veterinary Pet Insurance (VPI)"%></li>
    <li><%= link_to "Pets Best Insurance", "#", :alt => "Pets Best Insurance" %></li>
    <li><%= link_to "ASPCA Pet Health Insurance", "#", :alt => "ASPCA Pet Health Insurance" %></li>
    <li><%= link_to "PetFirst Healthcare", "#", :alt => "PetFirst Healthcare" %></li>
    <li><%= link_to "PetCare Pet Insurance", "#", :alt => "PetCare Pet Insurance" %></li>
    <li><%= link_to "PurinaCare&reg; Pet Health Insurance", "#", :alt => "PurinaCare&reg; Pet Health Insurance" %></li>
    <li><%= link_to "Embrace Pet Insurance", "#", :alt => "Embrace Pet Insurance" %></li>
  </ul>
  <p>
    Please research each pet insurance company you are considering to make sure 
    it offers the right plan for you and your pet.
  </p>
</div>
