<% content_for :sidemenu do %>
  <%= render "promotion_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Promotions</h1>
    
  <dl>
    <dt><strong>Halloween Costume Contest 2014!</strong></dt>
    <dd>
      It's that time of the year to show off your love ones again!
      
      <% promotion_image = image_tag("https://scontent-a-pao.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10730912_996323590377734_8621979929050235660_n.jpg?oh=ede88fac2a5d7e1d08d174625c8f64e2&oe=54B022DE", :class => "promotion", :alt => "Halloween Contest 2014") %>
      <%= link_to promotion_image, "javascript:promotion_of_the_month()" %>
    </dd>
    <dt><strong>Senior Month Special</strong></dt>
    <dd>
      <%= image_tag("seniormonth2014.jpg", :class=>"promotion", :alt=>"Senior Month Special")%>
    </dd>
    <dt><strong>Heartworm Special <span class="expired">Expired</span></strong></dt>
    <dd>
      <%= image_tag("HeartwormSpecials2014.png", :class=>"promotion", :alt=>"Heartworm Specials")%>
    </dd>
    <dt><strong>Complimentary Nail Trim</strong></dt>
    <dd>
      When your pets have an anesthetic procedure like surgery or a dental cleaning
      at our clinic, we will provide a complimentary nail trim as well.
    </dd>
    <dt><strong>Frontline Promotion &ndash; 4 months for the price of 3</strong></dt>
    <dd>
        Through the end of this year, Frontline is offering a free dose with every 3 pack
        purchased.
    </dd>
    <dt><strong>Comfortis Rebate</strong></dt>
    <dd>
      Receive $20 off a 12-month or $10 off a 6-month supply of Comfortis through August 31st, 2012.  You can get
      your rebate form at <a href="http://comfortis.com/vetrebate">http://comfortis.com/vetrebate</a>
    </dd>
    <dt><strong>2014 Dental Special February!! <span class="expired">Expired</span></strong></dt>
    <dd>
      <%= image_tag("dentalmonth2014.jpg", :class => "promotion", :alt => "2014 Dental Special February") %>
    </dd>
  </dl>
</div>