<% content_for :sidemenu do %>
  <%= render "about_sidemenu" %>
<% end %>
<div id="copy">
  <h1>Veterinary Staff at Citrus Veterinary Clinic</h1>
  <h3>Deb Charleston - Head Registered Veterinary Technician</h3>
  <p>
    <%= image_tag("staff/debbie.jpg", :alt => "Deb Charleston - Head Registered Veterinary Technician", :class => "photo") %>
    Deb Charleston is a Registered Veterinary Technician and has been an integral part of the
    staff of Citrus Veterinary Clinic since 2004. She takes pride in our doctors and her fellow
    staff members and appreciates being able to participate in practicing cutting edge medicine.
    Deb enjoys her many animals which include; dogs, cats, chickens, tortoises, a water turtle,
    a horse and a partridge in a pear tree.
  </p>
  <div style="clear:both;"></div>
  <h3>Stephanie Pfahler - Registered Veterinary Technician</h3>
  <p>
    <%= image_tag("staff/stephanie.jpg", :alt => "Stephanie Pfahler - Registered Veterinary Technician", :class => "photo") %>
    Stephanie has worked at Citrus Veterinary Clinic for 9 years. Originally intending to become a
    veterinarian, Stephanie fell in love with being a Veterinary Technician. She enjoys working with
    clients as well as the hands on aspect of her job. In her downtime,Stephanie enjoys sewing &
    other crafts, pet-sitting and squeezing in a nap whenever she can.
  </p>
  <div style="clear:both;"></div>
  <h3>Lisa Brechbiel - Veterinary Technician</h3>
  <p>
    <%= image_tag("staff/lisa.jpg", :alt => "Lisa Brechbiel - Veterinary Technician", :class => "photo") %>
    Lisa has been a valuable employee of Citrus Veterinary Clinic since 1992. In addition to
    her front desk skills, she is also an accomplished Veterinary Technician. As a result of
    her long tenure, she has accumulated a substantial amount of cats. When not scooping
    litter boxes she enjoys mountain biking, reading, and hair color.
  </p>
  <div style="clear:both;"></div>
  <h3>Stacy Christianson - Veterinary Technician</h3>
  <p>
    <%= image_tag("staff/stacy.jpg", :alt => "Stacy Christianson - Veterinary Technician", :class => "photo") %>
  </p>
  <div style="clear:both;"></div>
  <h3>Kurando Honjo - Veterinary Technician</h3>
  <p>
    <%= image_tag("staff/kurando.jpg", :alt => "Kurando", :class => "photo") %>
    Kurando has been a member of Citrus Veterinary Clinic since 2010.  He has a Bachelor of Science
    in Biological Sciences from the University of California Irvine and hopes to become a veterinarian 
    himself one day.  Kurando shares a home with a 12 year old goldfish that has recently learned how 
    to beg for food.
  </p>
  <div style="clear:both;"></div>
  <h3>Irene Staggs - Receptionist</h3>
  <p>
    <%= image_tag("staff/irene.jpg", :alt => "Irene Staggs - Receptionist", :class => "photo") %>
  </p>
  <div style="clear:both;"></div>
</div>
<!-- END #copy -->
