<div id="bodyWrap">
  <div id="bar">
    <div id="topBar">
      <div id="contact">Contact Us:</div>
      <div id="phone">
        <span class="icon"><%= image_tag("../images/phone.png") %></span>
        <span class="text">909-596-1881</span>
      </div>
      <div id="email">
        <% mail_content = capture do %>
          <span class="icon"><%= image_tag("../images/email.png") %></span>
          <span class="text">Send us an Email</span>
        <% end %>
        <%= mail_to "info@citrusvetclinic.com", mail_content %>
      </div>
      <div id="directions">
        <% link_to contact_path do %>
        <span class="icon"><%= image_tag("../images/direction.png") %></span>
        <span class="text">Get Directions</span>
        <% end %>
      </div>
      <div id="social"><p><a href="http://www.facebook.com/pages/Citrus-Veterinary-Clinic/201780673165367" title="Find us on Facebook" target="_facebook"></a></p></div>
    </div>
  </div>
  <div id="contentWrap">
    <div id=<%= @content_id %>>
      <div id="contentInner">
        <div id="rightWrap">
          <%= yield :sidemenu %>
          <div id="button">
            <div id="buttonInner">
              <h4>HOURS OF OPERATION</h4>
              <div>
                <p>Mon, Tue, Thur, Fri</p>
                <p>8:00 am- 5:30 pm</p>
              </div>
              <div>
                <p>Wed, Sat</p>
                <p>8:30 am- 12:00 pm</p>
              </div>
            </div>
          </div>
        </div>
        <%= yield %>
      </div>
      
      <div id=<%= @footer_id %>>
        <div id="bottom">
          <div id="bottomSec1">
            <% image_promo = image_tag("taiter.jpg", :class => "border") %>
            <%= link_to image_promo, promotion_path, :title => "Promotions" %>
            <%= image_tag("paws_icon.png", :class => "imageleft", :alt => "Promotion")%>
            <h3><%= link_to "Dental Special February", promotion_path, :class => "promotion" %></h3>
            <p><%= link_to "GET 10% OFF THIS MONTH !", promotion_path, :title => "Promotions", :class => "promotion" %></p>
            <!--
            <p><%= link_to "Halloween Costume Contest 2012!", "javascript:promotion_of_the_month();", :title => "Promotion of the Month" %></p>
            -->
          </div>
          <div id="bottomSec2">
            <% image_news = image_tag("clinic.jpg", :class => "border", :alt => "Citrus Online Pharmacy") %>
            <%= link_to image_news, "http://www.ourpetsrx.com/citrusvetclinic", :title => "Citrus Online Pharmacy", :target => "Online Pharmacy" %>
            <%= image_tag("paws_icon.png", :class => "imageleft", :alt =>"Citrus Online Pharmacy") %>
            <h3><%= link_to "Citrus Online Pharmacy", "http://www.ourpetsrx.com/citrusvetclinic", :target => "Online Pharmacy" %></h3>
            <p><%= link_to "... is OPEN !!!", "http://www.ourpetsrx.com/citrusvetclinic", :title => "Citrus Online Pharmacy", :target => "Online Pharmacy" %></p>
          </div>
        </div>
      </div>
    </div>
    <div id="copyright">
      <p class="foot">Copyright &copy; <%= Time.new.year %> Citrus Veterinary Clinic. All rights reserved.</p>
    </div>
  </div>
</div>
