<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>
    <meta name="description" content="Citrus Veterinary Clinic was found in 1975. We provide complete veterinary care, including physical examinations, surgery, diagnostic lab work, for pets in La Verne, CA. Call today (909)596-1881" />
    <meta name="keywords" content="veterinary clinic, la verne, vet, veterinarian, animal hospital, animal clinic, veterinary clinic, veterinary hospital, veterinary, animal, pet, medical, surgery, veterinary medicine, veterinary surgery, vet hospital, vet clinic, dog, cat, vmd, dvm, fleas, heartworm, canine, feline, emergency, pet doctor" />
    <%= render 'layouts/head' %>
    <%= javascript_include_tag "home" %>
  </head>
  <body class="page">
    <div id="container">
      <div id="wrap">
        <%= render 'layouts/header' %>
        <%= render 'layouts/home_body' %>
      </div>
    </div>
  </body>
</html>
<!-- Environment: <%= RAILS_ENV %> -->
